@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Raleway:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Montserrat:wght@300;400;500;600&family=Raleway:wght@300;400;500&display=swap');

*{
     margin: 0;
     border: 0;
     padding: 0;
     text-decoration: none;
     color: black;
     box-sizing: border-box;
}

body{
     background-color: whitesmoke;
}

header{
     padding-bottom: .5em;
     margin-bottom: 50px;
     background-color: #ce8da5;;
}

header > .container{
     display: flex;
     align-items:end;
     gap: 40px;
}

.siteLogo{
     display: inline-flex;
     align-items: center;
     gap: 10px;
     width: fit-content;
}

.siteLogo img{
     width: 160px;
     align-self: start;
}

.redesSocias{
     display: inline-flex;
     justify-content: center;
     width: fit-content;
     gap: 15px;
     text-align: center;
}

.redesSocias div{
     margin-bottom: 3px;
     color: rgb(231, 231, 231);
     font-size: .6rem;
     font-family: 'Montserrat';
}

.redesSocias > a:hover div{
     color: rgb(255, 255, 255);
}

.container{
     margin-inline: auto;
     border: 1px solid lightcoral;
     width: clamp(280px, 90vw, 1200px);
}

.cardList{
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     gap: 30PX;
}    

.card{
     border-radius: 5px;
     overflow: hidden;
     /* border: 1px solid lightgreen; */
     width: clamp(270px, 22%, 350px);
     /* transition: .4s ease-in-out box-shadow; */
     transition: .2s ease-in-out;
}

.card:hover{
     box-shadow: 0px 0px 10px 0px rgb(138, 138, 138);
     /* transform: scaleX(1.1);
     transform: scaleY(1.05); */
     transform: scale(1.05);
}

.card > img{
     width: 100%;
     margin-bottom: 5px;
}

.cardText{
     padding-inline: .75em;
}

.productTitle{
     font-family: 'Raleway';
     font-size: .85rem;
     font-weight: 600;
     margin-bottom: 7px;
}

.productPrice{
     font-family: 'Montserrat';
     font-size: 1.3rem;
     font-weight: 500;
     color: rgb(255, 36, 36);
}

.productPriceDrop{
     font-size: .9rem;
     margin-left: 5px;
     color: rgb(139, 139, 139);
     text-decoration: line-through;
}

.productColors{
     background-color: rgb(216, 216, 216);
     min-height: 10px;
     width: 100%;
}

.productColorsYellow{
     width: 20px;
     height: 20px;
     border-radius: 50%;
     background-color: yellow;
}

footer{
     margin-top: 50px;
     width: 90vw;
     margin-inline: auto;
     /* background-color: rgb(163, 163, 163); */
     border-top: 1px solid rgb(163, 163, 163);

}